body {
  background-color: black;
  font-family: consolas;
  color: #8e328e;
}

#app {
  display: table;
  margin: 0 auto;
}

.button-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.button-bar .button {
  margin-left: 10px;
  border: 2px solid #a2a2a2;
  color: #a2a2a2;
  text-align: center;
  padding: 6px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.button-bar .button:hover {
  background-color: dimgray;
}

.header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#win_screen_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#win_screen_overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#win_screen_overlay_text label {
  display: block;
}

#robot-control-box {
  margin: 10px 0 10px 0;
}

#robot-control-box span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
}

#robot-control-box img {
  max-height: 40px;
  max-width: 40px;
  vertical-align: middle;
}

#robot-control-box .selected {
  opacity: 1;
}

#robot-control-box .unselected {
  opacity: 0.2;
}
